@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #fff;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #888; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #555; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: #FF0000 !important;
  color: white !important;
  font-weight: 600 !important;
}